
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}
html{
    font-family: Helvetica, sans-serif;
}



#wrapper{
    
    cursor: pointer;
    position: fixed;
    align-items: center;
    justify-content: right;
    right: -5px;
    top: 5px;
   z-index: 4200;
    
}
.circle{
    height: 50px;
    width: 50px;
    position: relative;
   
}
.line{
    position: absolute;
    
    height: 5px;
    width: 80%;
    
    background: rgb(78, 101, 143);
    border-radius: 8px;
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
    z-index: 1000;
}

.top{
    top: 18%
}
.middle{
    top: 48%;
}

.bottom{
    top: 78%;
}
.icon.close .top{
    transform: rotate(45deg);
    top: 48%;
}


.icon.close .middle, .icon.close .bottom{
    transform:  rotate(-45deg);
    top: 48%;
    
}

.nav{
    position: fixed;
    border-bottom: 1px solid #a5a5b1;
    text-align: right;
    height: 70px;
    width: 100%;
    line-height: 70px;
    background-color: #1c1f24;
    z-index: 1;
    
}

.menu{
    margin: 0 30px 0 0;

}
.menu a{
    clear: right;
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    line-height: 70px;
    padding: 10px;

}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

.nav a{
   
    border-radius: 5px;
}

.nav a:hover{
    color: white;
    background-color: #244d53;
    z-index: 3;
    
    
}

#toggle{
    display: none;
}

.welcome{
    font-size: 40px;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1000px;
  background-color: rgb(68, 130, 172);
  background-image: linear-gradient(62deg, #41688f 0%, #130a1d 100%);
color: white;
}


/* midleeeee */
#projects{
    font-size: 40px;
    display: flex;
  position: absolute;
  top: 950;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1200px;
  background-color: rgb(34, 36, 37);
  background-image: linear-gradient(62deg, #1c425c 0%, #217388 100%);
color: white;
}

/* contact-section */
.contact-section{
    font-size: 40px;
    display: flex;
 
  justify-content: center;
  align-items: center;
  width: 100%;
  
  background-color: rgb(73, 172, 211);
  background-image: linear-gradient(62deg, #221f22 0%, #14443c 100%);
color: white;
position: absolute;
top: 2140px;
height: 1000px;



}
.project-section{
    position: absolute;
    width: 1020px;
   
   
    left: 50%;
    transform: translate(-50%);
  display: flex;
  flex-direction: row;
 
   flex-wrap: wrap;
 justify-content: center;
   
   
}

 #web{
    display: inline;
    font-weight: 200;
    font-style: italic;
    color: rgb(243, 111, 35);
   position: relative;
   left: 70px;
   top: -40px;
    
}
    





.about-section{
    position: absolute;
    top: 0px;
    height: 40px;
    width: 700px;
    border-bottom: 4px solid #ccccd1;
    line-height: 10px;
    left: 50%;
    transform: translate(-50%);

}



.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
  }


  .flex{
      width: 300px;
      height: 300px;

      background-color: rgb(19, 30, 61);
      padding: 0;
     margin: 20px;
     position: relative;
     top: 10px;
     align-items: center;
     justify-content: center;
   
     
  }
  
 .h5{
    position: absolute;
    top: 340px;
    left: 50%;
    transform: translate(-50%);
    font-size: 20px;
    color: white;
}
hr{
    position: absolute;
    top: 890px;
}

/* foooter */
.footer{
    position: absolute;
    top: 950px;
    left: 50%;
    transform: translate(-50%);
    color: white;
    font-size: 20px;
    width: 365px;
  
}
.h1{
    position: absolute;

    top: 300px;
    left: 50%;
    transform: translate(-50%);
    color: white;
    font-size: 25px;
    width: 250px;
}

 @media only screen and (max-width: 1050px) {
    .project-section{
        width: 700px;
    }
    .about-section{
        font-size: 35px;
        width: 520px;
    }

 }
 @media only screen and (max-width: 720px) {
.contact-section{
    top: 3250px;

}

    
#projects{
    height: 2250px;

}
.project-section{
    width: 300px;
}
   
.about-section{
    font-size: 29px;
    width: 430px;
}
.h5{
    font-size: 15px;
    width: 260px;
}
 }


 
@media only screen and (max-width: 500px){
    label{
        display: block;
        cursor: pointer;

    }
    #wrapper{
      /* zoom: 0.5  */
    }
    .menu{
        text-align: center;
        width: 100%;
        display: none;
    
    }
    .menu a{
        clear: right;
        display: block;
        border-bottom: 1px solid #5c5c85;
        margin: 0;
        position: relative;
        top: 70px;
        background-color: #25253f;
        padding: 0;
        

    }
    #toggle:checked + .menu{
        display: block;
    }
    .welcome{
        font-size: 30px;
    }
   
  
     .about-section{
         font-size: 23px;
         width: 340px;
     }
   
     .menu a{
        
     }

}

.flex-link{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 100px;
   
    
   
     flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.flexLink{
    margin: 30px;
    color: #0995b8;
}
@media only screen and (max-width: 437px){
    
    .flexLink{
        margin: 15px;
    }
    
    .footer{
        font-size: 15px;
        width: 280px;
       
    }
    .about-section{
        font-size: 19px;
        width: 290px;
    }
}
@media only screen and (max-width: 358px){

.welcome{
    font-size: 20px;
}
#web{
 top: -20px;
 left: 45px;

}
.h1{
    font-size: 15px;
    width: 150px;
   
}
.h5{
    font-size: 10px;
    width: 171px;
}
}
 .p{
    
    font-size: 10px;
    color: white;
    text-decoration: none; 
    align-items: center;
    justify-content: center;

   
   font-size: 15px;
   
    margin: 0;
    display: flex;
    align-items: center;
  
}
a{
    text-decoration: none;
}

@media only screen and (max-width: 320px){
    .about-section{
        font-size: 15px;
        width: 221px;
    }
    .flex{
        width: 250px;
    }
    .project-section{
        width: 251px;
    }
    .fa{
        zoom: 0.8;
        
        
    }
    .flexLink{
        margin: 10px;
    }
    .footer{
        font-size: 10px;
        
        width: 185px;

    }
    
}



.flex:hover{
background-color:rgb(72, 173, 219);
}
.code{
    display: none;
    
}


.fa{
    color: yellow;
  
}

 .flexLink :hover{
    color: #0995b8;
    zoom: 1.1;
    
 }
